[submodule "config/awesome/vicious"]
	path = config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "config/awesome/blingbling"]
	path = config/awesome/blingbling
	url = https://github.com/cedlemo/blingbling.git
[submodule "urxvt/submodules/urxvt-font-size"]
	path = urxvt/submodules/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
