[submodule "config/awesome/vicious"]
	path = config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "config/awesome/blingbling"]
	path = config/awesome/blingbling
	url = https://github.com/cedlemo/blingbling.git
[submodule "urxvt/submodules/urxvt-font-size"]
	path = urxvt/submodules/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "urxvt/submodules/urxvt-perls"]
	path = urxvt/submodules/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
